/* NAV LINKS ARRIBA */
.nav-links {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #facc15; /* amarillo */
}

/* SECCIONES */
section {
  margin-bottom: 60px;
  scroll-margin-top: 260px;
}

/* SCROLL SUAVE */
html {
  scroll-behavior: smooth;
}
